# Absolute path to your Chromium/Chrome/Edge executable.
# Examples:
#
# Windows (Edge):
# BROWSER_PATH="/mnt/c/Program Files (x86)/Microsoft/Edge/Application/msedge.exe"
#
# Windows (Chrome):
# BROWSER_PATH="/mnt/c/Program Files/Google/Chrome/Application/chrome.exe"
#
# Linux (Chrome):
# BROWSER_PATH="/usr/bin/google-chrome"
#
# macOS (Chrome):
# BROWSER_PATH="/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"

BROWSER_PATH=""